.banner{
    position:relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.main{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-inline: 15%;
}
/* 管理會員 */
.managemant{
    position: relative;
    display: flex;
}
.managemant a{
    position: relative;
    display: block;
    padding: 10px;
}
/* end--管理會員 */

/* 加入會員 */
.joinmem{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.joinmem>div{
    position: relative;
}
.trans_style{
    position: relative;
    display: flex;
    margin-bottom: 5px;
}
.trans_word{
    position: relative;
    display: block;
    width: 30%;
    text-align: right;
}


/* end--加入會員 */



